# Copyright 2020 Mathben <mathben@technolibre.ca>
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).

from odoo import fields, models


class ResPartner(models.Model):
    _inherit = 'res.partner'

    {{ name|snake }} = fields.Char(string='{{ sentence }}', required='False')

